{% extends 'wafer/base.html' %}
{% load i18n %}
{% load news %}
{% load sponsors %}
{% load static from staticfiles %}
{% block extra_head %}
  <link rel="alternate" type="application/rss+xml" title="{{ WAFER_CONFERENCE_NAME }} RSS Feed" href="{% url 'news_rss' %}">
  <link rel="alternate" type="application/atom+xml" title="{{ WAFER_CONFERENCE_NAME }} Atom Feed" href="{% url 'news_rss' %}">
{% endblock%}

{% block container_class %}index{% endblock %}
{% block tagline_banner %}
  <div class="container tagline-banner">
    <p class="lead">The 20th Debian Conference will be held in Curitiba, Brazil.</p>
  </div>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xl-9">
      <section id="calls-to-action" class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Call for Proposals</h2>
              <div class="card-text">
                <p>
                  {% if WAFER_TALKS_OPEN %}
                    The <a href="{% url 'wafer_page' 'cfp' %}">Call for Proposals</a>
                    for DebConf19 is open, we welcome your submissions.
                  {% else %}
                    The Call for Proposals for DebConf19 will be posted in early 2019.
                  {% endif %}
                </p>
              </div>
            </div>
            {% if WAFER_TALKS_OPEN %}
              <div class="card-footer">
                <a class="btn btn-info" href="{% url 'wafer_page' 'cfp' %}">Read the Call for Proposals</a>
                <a class="btn btn-success" href="{% url 'wafer_talk_submit' %}">Submit an event</a>
              </div>
            {% endif %}
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Registration</h2>
              <div class="card-text">
                <p>
                  {% if WAFER_REGISTRATION_OPEN %}
                    Registration and bursary applications are open.
                  {% else %}
                    Registration and bursary applications will open by January.
                  {% endif %}
                  Bursary applications must be submitted by 31 March.
                </p>
              </div>
            </div>
            <div class="card-footer">
              <a class="btn btn-info" href="{% url 'wafer_page' 'schedule/important-dates' %}">Important dates</a>
              {% if WAFER_REGISTRATION_OPEN %}
                <a class="btn btn-success" href="{% url 'register' %}">
                  {% if user.userprofile.is_registered %}
                    Update Registration
                  {% else %}
                    Register Now
                  {% endif %}
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      </section>
      <section id="news-section">
        <h1 id="news">News</h1>
        {% recent_news 3 %}
        <div id="more-news-link">
          <a href="{% url 'news' %}" class="btn btn-primary">More news</a>
        </div>
      </section>
    </div>

    <div class="col-xl-3">
      <h1 id="sponsors">Sponsors</h1>
      {% sponsors %}
    </div>
  </div>

  <!-- Testimonials FIXME -->
  <section id="testimonials-section" style="display: none;">
    <div class="row">
      <div class="col-lg-12">
        <h1 id="testimonials">Testimonials (Need some update)</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-7">
        <div class="bs-component">
          <blockquote class="blockquote">
            <p>
              DebConf has become one of the most important
              conferences on my annual calendar, <b>and has
              inspired me over the last two years to become more
              involved with Debian</b>.
              Debian is one of the most democratic and
              egalitarian software freedom communities in
              existence today.
              <b>DebConf, as an annual event, showcases that
              community and enables it to flourish</b>.
              DebConf16 was no exception.
              I encourage anyone who wants to examine first-hand
              a good model of a functioning Free Software
              community attend DebConf.
            </p>
            <p class="signature">Bradley M. Kuhn, Software Freedom Conservancy</p>
          </blockquote>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="bs-component">
          <blockquote class="blockquote blockquote-reverse">
            <p>
              DebConf is the annual conference for one of the
              largest Open Source projects.
              By annually sponsoring DebConf, credativ helps to
              keep this important conference successful.
              Being present at DebConf enables us to <b>connect,
              stay in touch and collaborate with some of the
              brightest minds in the industry</b>, both at a
              management and technical level.
            </p>
            <p class="signature">Michael Meskes, credativ GmbH</p>
          </blockquote>
        </div>
      </div>
    </div>
  </section>
  <!-- End Testimonials -->
{%endblock%}
